<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" manifest="http://apps.rymo.io/mkatandice.appcache" type="text/cache-manifest"> <!--<![endif]-->

    {% include mkatandice/head.html %}

    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Fixed navbar -->
        {% include mkatandice/navbar.html %}

        {{ content }}

        <!-- Scroll to top -->
        <a href="#" class="scrollToTop"><span class="h4">to top</span><i class="fa fa-arrow-circle-up fa-3x fa-fw"></i></a>

        <!-- Footer -->
        {% include mkatandice/footer.html %}

        <!-- Core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        {% include scripts.html %}
        {% include mkatandice/scripts.html %}
        {% include ganalytics.html %}
    </body>
</html>