<div class="container">
    <hr class="dark">

    <footer>
        <ul class="list-inline pull-right text-right">
            <li><a href="https://github.com/{{ site.github_username }}"><i class="fa fa-github fa-lg fa-fw"></i></a></li>
            <li><a href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter fa-lg fa-fw"></i></a></li>
            <li><a href="mailto:{{ site.email }}"><i class="fa fa-envelope-o fa-lg fa-fw"></i></a></li>
        </ul>
        <p class="text-muted"><span class="hidden-sm">Copyright </span>&copy; {{ site.copyright.start }}-{{ site.time | date: '%Y' }} {{ site.copyright.holder }}</p>
    </footer>
</div>